@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    padding: 20px;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Space between title and search */
    align-items: center; /* Center items vertically */
}

h1 {
    margin: 0; /* Remove default margin */
}

section > h2 {
    text-align: center;
}

.search-container {
    margin-right: 10px;
    margin-top: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

input[type="text"] {
    padding: 5px;
    margin-left: 10px;
}

main {
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
